In [1]:
import pandas as pd

In [2]:
pd.read_csv('data.csv')

             timestamp  msisdn_origin  msisdn_dest  call_duration  sms_number
0  2020-01-01 00:00:00      915783624    911926375          36.23          15
1  2020-01-01 00:05:00      911926375    968247916           9.20           5
2  2020-01-01 00:10:00      936415793    915642913           7.52          24
3  2020-01-01 00:15:00      914976835    914976835          96.70          97
4  2020-01-01 00:20:00      962365794    933156729         110.44          15
5  2020-01-01 00:25:00      966714385    915783624          12.34           5
6  2020-01-01 00:30:00      968247916    962365794          91.48          57
7  2020-01-01 00:35:00      933156729    936415793          83.22          73
8  2020-01-01 00:40:00      915642913    966714385          85.70          18

In [3]:
data = pd.read_csv('data.csv')

In [4]:
data.timestamp = pd.to_datetime(data.timestamp)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
timestamp        9 non-null datetime64[ns]
msisdn_origin    9 non-null int64
msisdn_dest      9 non-null int64
call_duration    9 non-null float64
sms_number       9 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 432.0 bytes

In [6]:
def out_in_box(number, k_before, k_after, k_sms):
    sum_before = data.loc[((data['msisdn_origin'] == number) | (data['msisdn_dest'] == number)) & 
                          (data.timestamp.dt.minute <= 30)].call_duration.sum() * k_before
    sum_after = data.loc[((data['msisdn_origin'] == number) | (data['msisdn_dest'] == number)) & 
                          (data.timestamp.dt.minute > 30)].call_duration.sum() * k_after
    sms = data.loc[data['msisdn_origin'] == number].sms_number.sum() * k_sms
    
    return(sum_before + sum_after + sms)

# Ответ

In [7]:
out_in_box(933156729, 4, 2, 1.5)

717.7

# Для лабораторной №3

In [8]:
def for_lab3(number, k_before, k_after):
    telephone = data.loc[((data['msisdn_origin'] == number) | (data['msisdn_dest'] == number)) & 
                          (data.timestamp.dt.minute > 30)].call_duration.sum() * k_after + data.loc[((data['msisdn_origin'] == number) | (data['msisdn_dest'] == number)) & 
                          (data.timestamp.dt.minute <= 30)].call_duration.sum() * k_before
    return(telephone)

In [10]:
t = for_lab3(933156729, 4, 2)
def telephone():
    return(t)